package main

import (
	"fmt"
	"os"
	_ "sort"
	_ "strconv"
	_ "strings"
	. "aoc.erikson.fi/common"
)

func main() {

	// ### Day $DAY$ ###
	fmt.Println("\n### Day $DAY$ - Part $PART$ ###")

	stringData, stringDataRows, rows := ParseInputFile(os.Args)

	_, _, _ = stringData, stringDataRows, rows

	End("Day not implemented")

	println("Result: ", )
}
